body{
  background-color: #6a95c331;
}
/* Header */
header{
  position: fixed;
  width: 100%;
  top: 0;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}
.nav-bar {
  position: fixed;
  width: 100%;
  height: 85px;
  display: flex;
  justify-content: space-between;
  top: 0;
  padding: 5px 7x;
  align-items: center;
  font-family: Arial, sans-serif;
  background-color: #f8f9fa;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}
.logobox{
  padding: 0px 35px;
}
.logo h1{
  font-family: cursive;
  color: #0056b3;

}
nav ul {
  list-style: none;
  display: flex;
  margin: 0;
  padding: 0;
}

nav ul li {
  margin: 0 15px;

}
nav ul li a {
  text-decoration: none;
  font-size: 18px;
  font-weight: bold;
  color: #333;
  transition: color 0.3s ease;
}

nav ul li a:hover,
nav ul li a.active {
  color:  #0056b3;
}
/* button Header */
.slin {
  padding: 8px 16px;
  border: 1px solid  #0056b3;
  background-color: #fff;
  color:  #0056b3;
  font-size: 16px;
  font-weight: bold;
  border-top-left-radius: 50%;
  border-bottom-right-radius: 50%;
  cursor: pointer;
  margin: 10px;
  transition: all 0.3s ease;
}

/* Footer */
footer {
  position: fixed;
  width: 100%;
  bottom: 0;
  background-color: #f8f9fa;
  color:  #034a96;
  text-align: center;
  padding: 15px 20px;
  font-size: 16px;
  font-family: Arial, sans-serif;
  font-weight: bold;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.9);
}
footer p {
  margin: 0;
  line-height: 1.5;
}

@media (max-width: 768px) {
  .nav-bar {
    flex-direction: column;
    align-items: flex-start;
  }

  nav ul {
    flex-direction: column;
    margin-top: 10px;
  }

  nav ul li {
    margin: 5px 0;
  }

  button {
    margin: 10px 5px 0 0;
  }
}
/* Inputs */
.filter-section{
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
  gap: 20px;
  padding: 20px;
  margin: 0 auto;
}
/* search input */
.search input {
  padding: 10px;
  width: 100%;
  max-width: 250px;
  background-color: #fff;
  color: #333;
  font-size: 16px;
  border: 1px solid #ddd;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  transition: border-color 0.3s ease;
}

/* Focus search input */
input[type="text"]:focus {
  border-color: #007bff;
  outline: none;
}
.sort, .search {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 10px;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
}
.buttons {
  display: flex;
  justify-content: space-between;
}
.favoriebutton{
  float: right;
  margin-right: 8%;
}
.favoriebutton button, .buttons button{
  flex: 1;
  width: 150px;
  padding: 10px;
  border: 1px solid  #0056b3;
  background-color: #0056b3;
  color:  #fff;
  font-size: 14px;
  font-weight: bold;
  border-radius: 8px;
  cursor: pointer;
  margin: 8px;
  transition: all 0.3s ease;
}
.favoriebutton button:hover, .buttons button:hover, .card button:hover{
  background-color:  #fff;
  color: #0056b3;
}

/* body */
.main{
  margin-bottom: 4%;
  margin-top: 8%;
  margin-left: 5%;
}
.main h2{
  margin-left: 10%;
  margin-top: 5%;
  font-family: cursive;
  font-weight: bold;
}
/* Card container */
.container {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  padding: 20px;
  margin: 0 auto;
  max-width: 1200px;
  justify-content: center;
}
/* Card*/
.card {
  background-color: #fff;
  border: 1px solid #ddd;
  border-radius: 8px;
  width: 100%;
  padding: 20px;
  max-width: 250px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  transition: transform 0.3s ease, box-shadow 0.3s ease;
}
/* Hover Cards */
.card:hover {
  transform: translateY(-5px);
  box-shadow: 0 6px 12px rgba(0, 0, 0, 0.15);
}

/* Title*/
.card h3 {
  font-size: 21px;
  font-weight: bold;
  margin-bottom: 10px;
}
/* Text */
.card p {
  font-size: 16px;
  margin: 5px 0;
  color: #777;
}

/* Director */
.card p:nth-child(2) {
  font-style: italic;
  color: #555;
}
.bd-card{
  height: 50%;
  margin: 6%;
  cursor: pointer;
}
.btn{
  float: right;
  padding: 2%;
}
.btn button{
  width: 70px;
  padding: 5px;
  border: 1px solid  #0056b3;
  background-color:  #fff;
  color: #0056b3;
  font-size: 14px;
  font-weight: bold;
  border-radius: 8px;
  cursor: pointer;
  transition: all 0.3s ease;
}
.btn button:hover{
  background-color:  #0056b3;
  color: #fff;
}
/* Details */
.details{
  float: right;
  width: 20%;
  height: 200px;
  margin: 7%;
  position: absolute;
  top: 40%;
  left: 68%;
  font-size: 16px;
}
.details span{
  font-weight: bold;
}
.details ul{
  list-style: none;


}
/* Pagination */

.pagination button{
  padding: 8px 16px;
  border: 1px solid  #0056b3;
  background-color: #fff;
  color:  #0056b3;
  font-size: 16px;
  font-weight: bold;
  border-top-left-radius: 50%;
  border-bottom-right-radius: 50%;
  cursor: pointer;
  margin: 10px;
  transition: all 0.3s ease;
}

button:hover {
  background-color:  #0056b3;
  color: #fff;
}

button.active {
  background-color:  #0056b3;
  color: #fff;
}

/* Form */
.new-form {
  max-width: 500px;
  margin: 0 auto;
  padding: 20px;
  border: 1px solid #ddd;
  border-radius: 8px;
  background-color: #f2f2f3;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  margin-bottom: 8%;
}

.new-form div {
  margin-bottom: 15px;
}

.new-form label {
  display: block;
  font-weight: bold;
  margin-bottom: 5px;
  margin-left: 25px;
  color: #333;
}
.new-form select{
  width: 100%;
  margin-left: 15px;
  max-width: 470px;
  padding: 10px;
  font-size: 14px;
  border: 1px solid #ccc;
  border-radius: 4px;
}
.new-form input {
  width: 100%;
  margin-left: 15px;
  max-width: 450px;
  padding: 10px;
  font-size: 14px;
  border: 1px solid #ccc;
  border-radius: 4px;

}

.new-form input:focus,
.new-form select:focus {
  border-color: #007bff;
  outline: none;
  box-shadow: 0 0 5px rgba(0, 123, 255, 0.5);
}

.new-form .error {
  color: #d9534f;
  font-size: 12px;
  margin-top: 5px;
  margin-left: 20px;
}

.new-form button {
  margin-left: 30%;
  padding: 10px 20px;
  font-size: 14px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

.new-form button[type="submit"] {
  background-color: #007bff;
  color: #fff;
}

.new-form button[type="submit"]:hover {
  background-color: #0056b3;
}

.new-form button[type="button"] {
  background-color: #6c757d;
  color: #fff;
  margin-left: 10px;
}

.new-form button[type="button"]:hover {
  background-color: #5a6268;
}
